html,
body {
  max-height: 10000px;
  max-width: 10000px;
  top: 0;
  left: 0;
  /* border: 1px solid black; */
  position: "absolute";
  /* overflow: scroll; */
}

.node {
  border: 1px solid blue;
  width: 200px;
  height: 100px;
  position: absolute;
  white-space: "nowarp";
}

.arrowRight {
  content: "";
  width: 110px;
  height: 50px;
  position: absolute;
  background: linear-gradient(to top right, transparent calc(50% - 1px), black, transparent calc(50% + 1px));
}
.arrowLeft {
  content: "";
  width: 110px;
  height: 50px;
  position: absolute;
  background: linear-gradient(to bottom right, transparent calc(50% - 1px), black, transparent calc(50% + 1px));
}

img {
  width: 80%;
  height: 80%;
}
