<!DOCTYPE html>
<script type='text/javascript' src='/static/script.js'></script>

<html>

<head>
    <meta charset='utf-8' />
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>

<body>
    <!-- <div style='border: 1px solid red;width: 200px;height: 100px;'>
        <img src="{{ url_for('fig', title = title) }}" style='height:50%;width:50%'>
    </div> -->

    <div class='node'>
        <img src="{{ url_for('fig', title = title) }}">
    </div>
</body>

</html>